:root {
  --link-hover-color: #449DD1;
  --link-hover-underline-color: #449DD1;
  --link-background-color: #78C0E0;
}

.dark {
  --theme: rgb(0, 0, 0);
  --link-hover-color: #449DD1;
  --link-hover-underline-color: #449DD1;
  --link-background-color: #449DD1;
}

#menu a {
  color: var(--secondary);
}
#menu a:hover {
  color: var(--link-hover-color);
}
#menu .active {
  color: var(--link-hover-color) !important;
  box-shadow: 0 2px 0 var(--link-hover-color);
}

.nav {
  flex-direction: column;
}

.first-entry > header:nth-child(1) {
  text-shadow: 1px 1px 4px #449DD1;
}
